spring:
  profiles:
    active:
      - prod
    include:
      - oauth
      - cloud
---
server:
  servlet:
    encoding:
      charset: utf-8
      force: true
  port: 8080

---
# 404 Not Found 예외를 위한 설정
spring:
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false