name: FE CI/CD

on:
  push:
    branches: [ fe ]
  pull_request:
    branches: [ fe ]

permissions:
  contents: read

jobs:
  build-react-image:
      runs-on: ubuntu-latest
      environment: dev
      defaults:
        run:
          shell: bash
          working-directory: ./
      strategy:
        matrix:
          node-version: [ 18.x ]
      steps:
        - uses: actions/checkout@v3
        - name: Docker build to dev
          run: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            docker build -f Dockerfile-dev -t ${{ secrets.DOCKER_USERNAME }}/cokkiri-market-web .
            docker push ${{ secrets.DOCKER_USERNAME }}/cokkiri-market-web

  cd-pipeline:
    needs:
      - build-react-image
    name: continuos deploy
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@master
      # nginx.conf 파일을 EC2에 업로드
      - name: copy nginx.conf file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          source: "./nginx/nginx.conf"
          target: "/home/ec2-user/"

      # docker-compose.yml 파일을 EC2에 업로드
      - name: copy docker-compose file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          source: "docker-compose.yml"
          target: "/home/ec2-user/"
      
      # docker-compose 실행
      - name: Deploy to dev
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }} # EC2 인스턴스 퍼블릭 DNS
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }} # pem 키
          port: 22
          script: |
            sudo chmod 666 /var/run/docker.sock
            docker-compose -f docker-compose.yml down -v
            docker-compose -f docker-compose.yml pull
            docker-compose -f docker-compose.yml up -d
            docker image prune -f